@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* -------------- Reset styles -------------- */

/* Box sizing rules  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.styleLink {
  @apply pb-3 py-2 text-center border-b-2 hover:text-yellow-500 hover:border-yellow-500  md:pb-0 md:px-2 md:border-b-0 md:hover:text-yellow-500 md:transform md:hover:scale-105 md:transition-transform md:duration-200;
}
