.services {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 4rem;
}

.contain-container {
  display: flex;
  justify-content: center;
}

.container-cardservices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
}

@media (min-width: 1300px) {
  .container-cardservices {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .services {
    height: 100%;
    width: 100%;
    margin: 0rem;
  }
  .container-cardservices {
    grid-template-columns: repeat(2, 1fr);
  }
}
