.details {
  display: flex;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.container-about {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 2rem;
}

.tools-used {
  flex: 1;
}

.container-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 2rem;
}

.location {
  color: var(--blue--details);
  font-weight: 600;
  margin: 1rem 0;
}

@media (min-width: 1500px) {
  .container-tools {
    /* max-width: 80%; */
    /* grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); */
    /* grid-template-columns: repeat(9, 1fr); */
    /* margin: 0 auto; */
  }
}

@media screen and (max-width: 600px) {
  .details {
    width: 100%;
    margin: 0rem;
    flex-direction: column;
  }

  .container-tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }

  .about {
    align-items: center;
  }
}
