.details {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-title {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  max-width: 100%;
}

.left-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 90%;
}

.tools-used {
  width: 100%;
}

.location {
  color: var(--blue--details);
  font-weight: 600;
  margin: 1rem 0;
}

@media (min-width: 1500px) {
  .tools-container {
    /* max-width: 80%; */
    /* grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); */
    /* grid-template-columns: repeat(9, 1fr); */
    /* margin: 0 auto; */
  }
}
