nav {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  align-items: center;
  font-weight: 300;
  color: var(--blue--details);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 99%;
}

.logo {
  color: var(--blue--details);
}

.logo-s {
  color: var(--main--white);
}

ul {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

/* li {
  transition: all 0.3s;
} */

li:hover {
  color: var(--main--white);
  border-bottom: 1px solid var(--blue--details);
}

/* -------------  DROPDOWN MENU ----------- */

.dropbtn {
  color: var(--blue--details);
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light--dark);
  max-width: 40px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--main--white);
  padding: 12px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--blue--details);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--light--dark);
}
