.intro {
  height: 50vh;
  background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 100%;
}

/* ---------------- Curve ----------------- */

.custom-shape-divider-bottom-1709738698 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709738698 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 184px;
}

.custom-shape-divider-bottom-1709738698 .shape-fill {
  fill: var(--main--background);
}

/* ---------------- Curve ----------------- */

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 50%;
}

.intro-title {
  color: var(--blue--details);
  font-weight: 400;
  font-size: 3rem;
}

.sub-title {
  font-weight: 300;
  font-size: 1.5rem;
}

.contactbtn {
  background-color: var(--blue--details);
  color: var(--main--white);
  border-radius: 0.5rem;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  max-width: 200px;
  appearance: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  letter-spacing: 0.1rem;
  /* border: 0.01rem solid var(--main--white); */
  transition: all 0.3s;
  z-index: 100;
}

.contactbtn:hover {
  transform: translateY(-10px);
  background-color: transparent;
  color: var(--blue--details);
  border: 1px solid var(--blue--details);
}

@media screen and (max-width: 600px) {
  .intro {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .custom-shape-divider-bottom-1709738698 {
    display: none;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
  }

  .intro-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .intro-title {
    font-size: 2rem;
    text-align: center;
  }

  .sub-title {
    font-size: 1rem;
    text-align: center;
  }
}
