.contactpage {
  display: flex;
  margin: 0rem 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  gap: 2rem;
}

.test {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* border: 0.5rem solid red; */
}

.verticalLine {
  border-left: 0.1rem solid var(--blue--details);
  height: 100px;
}

.left {
  width: 50%;
}

.calendar {
  margin: 0 auto;
  width: 50%;
  /* border: 0.5rem solid red; */
}

.calendar > h2 {
  margin-bottom: 1rem;
  color: var(--blue--details);
  font-weight: 500;
}

.calendar > button {
  background-color: var(--blue--details);
  color: var(--main--white);
  border-radius: 0.5rem;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  z-index: 100;

  height: 50px;
  width: 350px;
}

.calendar > button:hover {
  transform: translateY(-10px);
  background-color: transparent;
  color: var(--blue--details);
  border: 1px solid var(--blue--details);
}

.left > h2 {
  color: var(--blue--details);
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}

.left > p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.cont-logos {
  color: var(--blue--details);
  display: flex;
  gap: 1rem;
  padding: 1rem 0rem;
}

@media screen and (max-width: 600px) {
  .contactpage {
    flex-direction: column;
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 2rem;
  }

  .test {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .verticalLine {
    display: none;
  }

  .left {
    width: 100%;
  }

  .calendar {
    width: 100%;
  }

  .calendar > button {
    font-size: 0.8rem;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
